@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Work+Sans:wght@300;700&display=swap');

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.input-text,
.btn {
  border: none;
  padding: 2em 3em;
  border-radius: 50px;
  margin: 0.5em;
  font-family: "Work Sans", sans-serif;
}

.btn {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: gainsboro;
}
.input-text {
  background-color: aliceblue;
}

.flex-form {
  display: flex;
  flex-direction: column;
}